:root {
    --page-bg: white;
    
    /* Sidebar Settings */
    --roof-height: 8%;
    --sidebar-width: 23%;
    --logo-sides: 5%;
    
    
    /* Font Colors */
    --logo-color: hsl(180, 0%, 15%);
    --menu-text: hsl(0, 0, 90%);
    
}