:root {
    --on: initial; --off: ; --testing: var(--off); 
    /* Global */
    
/*    --testing: var(--on); */
    
    /* Page */
    --page-bg: white;
    
    
    /* Sidebar Settings */
/*    --sidebar-width: min(max(20vw, 280px), 50vw);*/
/*    --sidebar-width: clamp(50vw, 20vw, 280px);*/
/*    --sidebar-width: clamp(235px, 25vw, 300px);*/
    --sidebar-width: clamp(240px, 25vw, 300px);
    --sidebar-top: 7vh; /* 7vh */
    --logo-sides: 5%;
/*    --subtitle-gap: 10px;*/
/*    --subtitle-gap: 0.8em;*/
/*    --hr-space: 11px;*/
    
    
    /* Font Sizes */ 
    --name-size: 30px;
    
    /* Font Colors */
    --logo-color: hsl(299, 74%, 86%);
    --logo-color-old: hsl(180, 0%, 15%);
    --menu-text: hsl(0, 0, 90%);
	
    /* --------------------------------- */
    /* Hacks */
    /* Rounding / Significant Figures */
    --2sf: 4.9406564584124654e-322;
    --1sf: 4.9406564584124654e-323;
    --int: 4.9406564584124654e-324;
/*    --int: 4.9406564584124654e-325;*/
}
body div {
    vertical-align: middle;
}

body#fake {
	/* For testing only */
	/* Name / Logo */
	--name-wrap: goldenrod;
	--first-name: lightgreen;
	--last-name: darkgreen;
	--name-logo: yellow;
    --test-outline: solid 2px grey;
	
	
}