:root {
    --on: initial; --off: ;
    /* Global */
    --testing: var(--off); 
/*    --testing: var(--on); */
    
    /* Page */
    --page-bg: white;
    
    
    /* Sidebar Settings */
/*    --sidebar-width: min(max(20vw, 280px), 50vw);*/
/*    --sidebar-width: clamp(50vw, 20vw, 280px);*/
    --sidebar-width: clamp(235px, 25vw, 300px);
    --sidebar-top: 7vh;
    --logo-sides: 5%;
    
    
    /* Font Sizes */ 
    --name-size: 30px;
    
    /* Font Colors */
    --logo-color: hsl(299, 74%, 86%);
    --logo-color-old: hsl(180, 0%, 15%);
    --menu-text: hsl(0, 0, 90%);
	
    
}
body#fake {
	/* For testing only */
	/* Name / Logo */
	--name-wrap: goldenrod;
	--first-name: lightgreen;
	--last-name: darkgreen;
	--name-logo: yellow;
    --test-outline: solid 2px grey;
	
	
}