:root {
    /* --menu-title: hsl(0, 0, 0%); */
    /* --menu-bg: hsl(0, 0, 100%); */
    --menu-title: black;
    --menu-bg: white;
    --menu-text: hsl(0, 0, 90%);
}


/* .title {
    color: var(--title);
}

.header {
    color: var(--header-text);
    background-color: var(--header-bg);
} */
/* header {
    width */
/* } */
/* header > * {
    background-color: var(--menu-bg);
} */
.menu-wrapper {
    left: 0;
    width: 40em;
    height: 100%;
    
    background-color: var(--menu-bg);
}
.menu {
    font: "Monteverde";
    color: var(--menu-text);
}
#menu-item {
    text-transform: uppercase;
}

/* Menu Bar Extension */
.menu-extension {
    top: 0; 
    height: 25em;
    width: 100%;    

    background-color: var(--menu-bg);
}

/* Temp */
body {
    /* background-color: black; */
    background-color: var(--menu-title);
}