@charset "utf-8";

header > div  {
    background-color: var(--page-bg);
    position: fixed;
    left: 0px; top: 0px;
}
/* Header */
div#page-sidebar {
    z-index: 2;
    /*    position: fixed;*/
    /*    overflow: hidden;*/
    /*    background-color: var(--page-bg);*/
    /* Positioning*/
    padding-top: var(--sidebar-top);
    height: 100%;
    /*  bottom: 0%;*/
    /* Sizing */
    width: var(--sidebar-width);
}
div#sidebar-sections {
    position: relative;
    height: 100%;
    border: var(--test-outline); /* <- for testing only */
    margin-left: var(--logo-sides);
    margin-right: var(--logo-sides);
    width: auto;
    text-align: center;
}

div#sidebar-sections a, div#sidebar-sections div {
    width: 100%; 
    display: block;
    top: 0%;
}
div#name-wrap {
    z-index: 3;
/*    top: 0%;*/
/*    width: 100%;*/
/*    vertical-align: middle;*/
/*    text-align: center;*/
    /*	margin: 0% var(--logo-sides);*/
    background-color: var(--name-wrap);
    position: relative;
    font-family: "Avenir Roman", "Proxima Monteverde", sans-serif;
/*    font-size: calc(var(--sidebar-width) / 8);*/
    font-size: var(--name-size);
/*    font-size: clamp(28px, 2.5vw, 38px);*/
}

a#name-logo {
    /* Element Setup */
/*    width: 100%;*/
    outline: 0;
    text-transform: uppercase;
    z-index: 100;
    /*    font-size: 46px;*/
/*    font-size: 4vw;*/
    /*    height: 50%;*/
    color: var(--logo-color);
    background-color: var(--name-logo);
    text-decoration: none;
    position: relative;
/*    display: block;*/
    align-content: center;
/*    line-height: 75%;*/
    /*    text-align: center;*/
    /*    background-color: green;*/
    padding: 0;
/*    height: 60px;*/
/*    height: fit-content;*/
    height: 68px;
/*    height:     */
}
a#name-logo > div {
    /* Element Setup */
/*    display: block;*/
/*    width: 100%;    */
    line-height: 0.85;
/*    height: 50%;*/
    height: fit-content;
    margin-left: auto; margin-right: auto; 
    width: fit-content;
/*    height: 100%;*/
}    
a#name-logo #first-name {
/*    font-size: 100%;*/
/*    padding-top: 2%;*/
/*    background-color: var(--first-name);*/
/*    background-color: yellow;*/
    background-color: var(--testing, yellow);
/*    bottom: 0; */
    font-size: 163%; 
/*    letter-spacing: 6px;*/
}
a#name-logo #last-name {
    /* Element Setup */
/*    background-color: var(--last-name);*/
    background-color: var(--testing, red);
    padding-left: 1px; 
    /* Font */
/*    font-size: 100%;*/
    /*
    font-size: 3vw;
    letter-spacing: -2px;
*/
    /*    transform-origin: 0 0;*/
    /*
    --trans: scale(0.5, 1);
    transform: var(--trans);
    -moz-transform: var(--trans);
    -webkit-transform: var(--trans);
    -o-transform: var(--trans);
    -ms-transform: var(--trans);
*/
    /*     --trans: translate(0px, -38px); */
}
/*
name-wrap::first-line {
    color: red;
}
*/
div#sidebar-sub {
    font-size: 80%;
}
hr.sidebar, div.sidebar-line {
/*    width: 90%;*/
/*    width: clamp();*/
/*    width: 23vw;*/
    margin: var(--hr-space) auto;
    width: min(94%, 240px) !important;
/*    height: 2px;*/
    height: 0.1em;
/*    height: 1px;*/
    color: black; 
    background-color: currentColor; 
    border: none;
/*    border: 1px solid curentColor;*/
/*    color: var(--logo-color);*/
/*    background-color: var(--logo-color);*/
}