@charset "utf-8";

header > div  {
    background-color: var(--page-bg);
    position: fixed;
    left: 0px;
    top: 0px;
}
/* Header */
div#page-sidebar {
    z-index: 2;
    /*    position: fixed;*/
    /*    overflow: hidden;*/
    /*    background-color: var(--page-bg);*/
    /* Positioning*/
    padding-top: var(--sidebar-top);
    height: 100%;
    /*  bottom: 0%;*/
    /* Sizing */
    width: var(--sidebar-width);
}
div#sidebar-sections {
    position: relative;
    height: 100%;
    border: var(--test-outline); /* <- for testing only */
    margin-left: var(--logo-sides);
    margin-right: var(--logo-sides);
    width: auto;
    text-align: center;
}
div#name-wrap {
    z-index: 3;
    top: 0%;
    width: 100%;
    /*	margin: 0% var(--logo-sides);*/
    background-color: var(--name-wrap);
/*    height: max-content;*/
    /*    min-height: 60px;*/
    /*    height: calc(1.6 * var(--roof-height));*/
    display: block;
    position: relative;
    font-family: "Avenir Roman", "Proxima Monteverde", sans-serif;
}
/*
div.half-h {
    display: block;
    height: 50%;
    width: 100%;
}
*/
a#name-logo {  /*, a#name-logo > span*/
    /* Element Setup */
    width: 100%;
}
a#name-logo {
    outline: 0;
    text-transform: uppercase;
    z-index: 100;
    /*    font-size: 46px;*/
    font-size: 4vw;
    /*    height: 50%;*/
    color: var(--logo-color);
    background-color: var(--name-logo);
    text-decoration: none;
    position: relative;
    display: block;
    align-content: center;
/*    line-height: 75%;*/
    /*    text-align: center;*/
    /*    background-color: green;*/
    padding: 0;
}
a#name-logo > div {
    /* Element Setup */
/*    display: block;*/
    width: 100%;
    line-height: 1ex;
/*    height: 100%;*/
}
a#name-logo #first-name {
    font-size: 100%;
    font-size: 
/*    padding-top: 2%;*/
/*    background-color: var(--first-name);*/
    background-color: yellow;
/*    letter-spacing: 6px;*/
}
a#name-logo #last-name {
    /* Element Setup */
    display: block;
/*    background-color: var(--last-name);*/
    background-color: red;
    /* Font */
/*    font-size: 100%;*/
    /*
    font-size: 3vw;
    letter-spacing: -2px;
*/
    /*    transform-origin: 0 0;*/
    /*
    --trans: scale(0.5, 1);
    transform: var(--trans);
    -moz-transform: var(--trans);
    -webkit-transform: var(--trans);
    -o-transform: var(--trans);
    -ms-transform: var(--trans);
*/
    /*     --trans: translate(0px, -38px); */
}
/*
name-wrap::first-line {
    color: red;
}
*/
hr.sidebar {
    width: 90%;
    height: 2px;
    color: var(--logo-color);
    background-color: var(--logo-color);
}