/* LESS Document */
/* Variables */
body {
  background: darkslateblue;
}
/* Definitions */
header,
header > * {
  position: fixed;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
header #sidebar {
  background: white;
  width: 23%;
}
header #page-ceiling {
  background: white;
  height: 4%;
}
