@charset "utf-8";
@import "control.css";
@import "../fonts/fonts.css";
/*
:root {
    --sidebar-width: 23%;
    --roof-height: 8%;
}
*/
body {
    padding: 0;
    margin: 0;
    border: 0;
    width: 100%;
    height: 100%;
    background-color: red;
}
/* Sidebar */
header {
}
header div {
    left: 0%; 
    right: 0%; 
    width: 100%;
    height: 100%;
    font-family: "Avenir Book", "Avenir Roman", "Proxima Monteverde", sans-serif;
/*    font-family: "Avenir Book", "Proxima Monteverde", sans-serif;*/
}
div#page-roof {
    z-index: 1;
    position: fixed;
/*    background-color: var(--page-bg);*/
    height: var(--roof-height);
    background-color: var(--page-bg);
}
/* Header */
div#sidebar {
    z-index: 2;
    position: fixed;
    overflow: hidden;
    background-color: var(--page-bg);
    width: var(--sidebar-width);
    top: var(--roof-height);
}
div#name-wrap {
    z-index: 3;
    top: 0%;
    width: auto;
    margin-left: 4%;
    margin-right: 4%;
    min-height: 50px;
    height: calc(1.5 * var(--roof-height));
    display: block;
    position: relative;
    background-color: blue;
    text-align: center;
}
a#name {
    width: 100%;
    top: 0%;
    text-transform: uppercase;
    z-index: 100;
    font-size: 32px;
/*    font-size: var(--name-width);*/
    
    text-decoration: none;
    font-family: "Avenir Book", "Proxima Monteverde", sans-serif;
}
/* Body Content */
div#content {
    position: fixed;
    color: darkblue; 
    font: 20px;
    background-color: pink;
    
    inset: var(--roof-height) 0% 0% var(--sidebar-width);
}










