@charset "utf-8";
@import '/css/control.css';
@import '/fonts/fonts.css';
/*
:root {
    --sidebar-width: 23%;
    --roof-height: 8%;
}
*/
body {
    margin: 0px;
    width: 100%;
    height: 100%;
    background-color: red;
}
/* Sidebar */
header, header > * {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: transparent;
    font-family: "Avenir Book", "Proxima Monteverde", sans-serif;
}
div#page-roof {
    position: fixed;
    background: white;
    height: var(--roof-height);
}
/* Header */
div#sidebar {
    position: fixed;
    background: white;
    text-align: center;
    width: var(--sidebar-width);
    top: var(--roof-height);
}

header #name {
    text-transform: uppercase;
    font-size: var(--name-width);
    font-family: "Avenir Book", "Proxima Monteverde", sans-serif;
}
/* Body Content */
div#content {
    top: var(--roof-height);
    left: var(--sidebar-width);
    right: 0%;
    bottom: 0%;
    background: darkslateblue;
}








